.container
  #home
    .header.clearfix
      .logo
        = image_tag( 'logo.png' )
      #main-menu
        %ul{id:'nav'}
          %li
            %a{href:'#home',class:'current'}
              home
          %li
            %a{href:'#products'}
              products
          %li
            %a{href:'#about'}
              about
          %li
            %a{href:'#contact'}
              contact


    .mid.clearfix
      .msg
        Ready for an agile, automated network?

    .features_container.clearfix
      .features.first.col
        %h3
          Open Software
        %p
          We integrate open, mature software into your network to achieve a seamless automation
      .features.second.col
        %h3
          Tailor-made UIs
        %p
          We build user-friendly UIs to make the day-to-day tasks simple for operators and end customers
      .features.third.col
        %h3
          Increased profit
        %p
          We help our customers build new services through open, reliable platforms to increase margins

  #products.contentblock
    .title
      PRODUCTS
  #about.contentblock
    .title
      ABOUT US
  #contact.contentblock
    .title
      CONTACT

  %footer
    %ul
      %li
        %a{href:'https://twitter.com/whitestack', class:"social twitter",target:"_blank"}
          Twitter
        %a{href:'https://www.linkedin.com/company/whitestack', class:"social linkedin",target:"_blank"}
          LinkedIn
        %a{href:'#', class:"social github",target:"_blank"}
          Github
      %p.copyright
        &copy; 2016, Whitestack Inc.
